@charset "utf-8";

html {
    font-size: 62.5%;/* 1rem=10px */
}

body {
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
/*USAGE FEES・ご利用料金*/
.usage-fees {
    margin: 0 0 200px 0;
}
.usage-fees__title__en {
    margin: 0 0 20px 0;
    font-size: 6.8rem;
    font-weight: bold;
    text-align: center;
}
.usage-fees__title__jp {
    margin: 0 0 75px 0;
    font-size: 4.2rem;
    font-weight: bold;
    text-align: center;
}

.usage-fees__plan__group {
    display: flex;
    justify-content: center;
}
.usage-fees__plan__1day {
    width: 362px;
    border: 4px solid #54ccba;
    border-radius: 16px; 
    
}
.usage-fees__plan__1day__title {
    display: block;
    margin: 0 0 30px 0;
    padding: 13px 0 9px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #54ccba;
    border-radius: 10px 10px 0 0; 
}
.usage-fees__plan__1day__text {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.usage-fees__plan__1day__fee {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #54ccba;
}

.usage-fees__plan__1month {
    width: 362px;
    margin: 0 60px 0 60px;
    border: 4px solid #54ccba;
    border-radius: 16px; 
    
}
.usage-fees__plan__1month__title {
    margin: 0 0 30px 0;
    padding: 13px 0 9px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #54ccba;
    border-radius: 10px 10px 0 0;
}
.usage-fees__plan__1month__text {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.usage-fees__plan__1month__fee {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #54ccba;
}

.usage-fees__plan__1year {
    width: 362px;
    border: 4px solid #54ccba;
    border-radius: 16px; 
    
}
.usage-fees__plan__1year__title {
    margin: 0 0 30px 0;
    padding: 13px 0 9px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #54ccba;
    border-radius: 10px 10px 0 0;
}
.usage-fees__plan__1year__text {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.usage-fees__plan__1year__fee {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #54ccba;
}

/*HOW TO USE・ご利用方法*/
.how-to-use {
    margin: 0 0 200px 0;
}
.how-to-use__title__en {
    margin: 0 0 20px 0;
    font-size: 6.8rem;
    font-weight: bold;
    text-align: center;
}
.how-to-use__title__jp {
    margin: 0 0 75px 0;
    font-size: 4.2rem;
    font-weight: bold;
    text-align: center;
}
.how-to-use__group {
    position: relative;
    display: flex;
    padding: 0 0 99px 0;
    justify-content: center;
    align-items: flex-start;
    /* height: 531px; */
    background-color: #EEF1F3;
    background: linear-gradient(to bottom, #fff 0%, #fff 28%, #EEF1F3 28%,  #EEF1F3 100%);
}

.how-to-use__step1 {
    display: flex;
    flex-direction: column;
    
}
.how-to-use__step1__circle {
    width: 116px;
    height: 116px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    background-color: #54ccba;
}
.how-to-use__step1__circle__text {
    margin: 35px 0 0 0;
    display: inline-block;
    line-height: 1.1;
    
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}
.how-to-use__step1__circle__text--big {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.how-to-use__step1__line {
    margin: 0 auto;
    width: 1px;
    height: 192px;

}
.how-to-use__step1__img {
    width: 300px;
    margin: 0 0 20px 0;
    
}
.how-to-use__step1__heading {
    margin: 0 0 16px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}
.how-to-use__step1__text {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
}
.how-to-use__step1__text span {
    visibility: hidden;
}

.how-to-use__step2 {
    width: 300px;
    margin: 0 100px 0;
    display: flex;
    flex-direction: column;
}
.how-to-use__step2__circle {
    width: 116px;
    height: 116px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    background-color: #54ccba;
}
.how-to-use__step2__circle__text {
    margin: 35px 0 0 0;
    display: inline-block;
    line-height: 1.1;
    
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}
.how-to-use__step2__circle__text--big {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.how-to-use__step2__line {
    margin: 0 auto;
    width: 1px;
    height: 40px;

}
.how-to-use__step2__img {
    margin: 0 0 20px;
}
.how-to-use__step2__heading {
    margin: 0 0 16px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}
.how-to-use__step2__text {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
}
.how-to-use__step2__text span {
    visibility: hidden;
}
.how-to-use__step3 {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.how-to-use__step3__circle {
    
    width: 116px;
    height: 116px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    background-color: #54ccba;
}
.how-to-use__step3__circle__text {
    margin: 35px 0 0 0;
    display: inline-block;
    line-height: 1.1;
    
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}
.how-to-use__step3__circle__text--big {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.how-to-use__step3__line {
    margin: 0 auto;
    width: 1px;
    height: 198px;

}
.how-to-use__step3__img {
    margin: 0 0 20px;
}
.how-to-use__step3__heading {
    margin: 0 0 16px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}
.how-to-use__step3__text {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
}