@charset "utf-8";

html {
    font-size: 62.5%;/* 1rem=10px */
}

body {
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
/*USAGE FEES・ご利用料金*/
.usage-fees {
    margin: 0 0 200px 0;
}
.usage-fees__title__en {
    margin: 0 0 20px 0;
    font-size: 6.8rem;
    font-weight: bold;
    text-align: center;
}
.usage-fees__title__jp {
    margin: 0 0 75px 0;
    font-size: 4.2rem;
    font-weight: bold;
    text-align: center;
}

.usage-fees__plan__group {
    display: flex;
    justify-content: center;
}
.usage-fees__plan__1day {
    width: 362px;
    border: 4px solid #54ccba;
    border-radius: 16px; 
}
.usage-fees__plan__1day__title {
    margin: 0 0 30px 0;
    padding: 13px 0 9px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #54ccba;
}
.usage-fees__plan__1day__text {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.usage-fees__plan__1day__fee {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #54ccba;
}

.usage-fees__plan__1month {
    width: 362px;
    margin: 0 60px 0 60px;
    border: 4px solid #54ccba;
    border-radius: 16px; 
}
.usage-fees__plan__1month__title {
    margin: 0 0 30px 0;
    padding: 13px 0 9px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #54ccba;
}
.usage-fees__plan__1month__text {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.usage-fees__plan__1month__fee {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #54ccba;
}

.usage-fees__plan__1year {
    width: 362px;
    border: 4px solid #54ccba;
    border-radius: 16px; 
}
.usage-fees__plan__1year__title {
    margin: 0 0 30px 0;
    padding: 13px 0 9px 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #54ccba;
}
.usage-fees__plan__1year__text {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.usage-fees__plan__1year__fee {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #54ccba;
}

/*HOW TO USE・ご利用方法*/
.how-to-use {
    margin: 0 0 200px 0;
}
.how-to-use__title__en {
    margin: 0 0 20px 0;
    font-size: 6.8rem;
    font-weight: bold;
    text-align: center;
}
.how-to-use__title__jp {
    margin: 0 0 75px 0;
    font-size: 4.2rem;
    font-weight: bold;
    text-align: center;
}
.how-to-use__group {
    display: flex;
    align-items: flex-end;
}
.how-to-use__step1__circle {
    font-size: 2rem;
    font-weight: bold;
}
.how-to-use__step1__circle--big {
    font-size: 3rem;
    font-weight: bold;
}