@charset "utf-8";

html {
    font-size: 62.5%;
}

body {
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

.hamburger-menu {
    display: none;
}

/* ヘッダー */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__sitelogo {
    width: 150px;
    margin: 10px 0px 0px 30px;
}

.header__sitelogo-img {
    width: 100%;
}

.header__sitelogo-img:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.navigation {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    /* background-color: palevioletred; */
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 50px;
    font-weight: bold;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
}


.navigation__link:hover {
    border-bottom: solid 2px #010101;
    transition:0.3s;
}


.navigation__login__button a {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    width: 150px;
    max-width: 700px;
    padding: 30px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #54CCBA;
}
.navigation__login__button a:hover {
    background: #30a190
}


.main-visual img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 100px;
}
/* End of ヘッダー */

/* メイン */
.main {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.main-text {
    width: 50%;
}

.main-text__box1 p {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 70px;
}

.main-text__box2 p {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 70px;
}

.main-text__box3 p {
    font-size: 2rem;
    font-weight: bold;
}

.main-image {
    width: 50%;
}

.main-image img {
    width: 100%;
}
/* End of メイン */

/* フッター */
.footer__catchcopy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__catchcopy_wrapper h3 {
    font-size: 2.0rem;
    line-height: 3.0rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.footer__catchcopy__image {
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer__copyright {
    width: 100%;
    height: 120px;
    background-color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright__text {
    color: #FFF;
}
/* End of フッター */

@media screen and (max-width: 650px) {
    .header__sitelogo {
        width: 100px;
    }
    .navigation {
        display: none;
    }

    .hamburger-menu {
        display: block;
        }
    
       .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background: linear-gradient(to bottom, #72BB2A, #07AD92);
        }
        .menu-btn span,
        .menu-btn span:before,
        .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
        }
        .menu-btn span:before {
        bottom: 8px;
        }
        .menu-btn span:after {
        top: 8px;
        }
    
        #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
        }
        #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
         }
        #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
         }
        #menu-btn-check {
        display: none;
        }
    
        .menu-content {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 80;
            background: linear-gradient(to bottom, #96C81E, #54CCBA);
        }
        .menu-content ul {
            padding: 70px 10px 0;
        }
        .menu-content ul li {
            border-bottom: solid 1px #ffffff;
            list-style: none;
        }
        .menu-content ul li a {
            display: block;
            width: 100%;
            font-size: 15px;
            box-sizing: border-box;
            color:#ffffff;
            text-decoration: none;
            padding: 9px 15px 10px 0;
            position: relative;
        }
        .menu-content ul li a::before {
            content: "";
            width: 7px;
            height: 7px;
            border-top: solid 2px #ffffff;
            border-right: solid 2px #ffffff;
            transform: rotate(45deg);
            position: absolute;
            right: 11px;
            top: 16px;
        }
    
        .menu-content {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 100%;/*leftの値を変更してメニューを画面外へ*/
            z-index: 80;
            transition: all 0.5s;/*アニメーション設定*/
        }
        #menu-btn-check:checked ~ .menu-content {
            left: 0;/*メニューを画面内へ*/
        }

    .main {
        display: block;
    }
    .main-text {
        width: 100%;
    }
    .main-image {
        width: 100%;
    }

    .footer__catchcopy_wrapper {
        width: 90%;
    }
    .footer__catchcopy_wrapper h3 {
        font-size: 1.6rem;
    }
}